<a href="https://colab.research.google.com/github/asrafulasf72/Data-Mining-Basic-Problem/blob/main/Missing_value_handle.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
data=[
    {"name":"Jahidule", "Age":25, "salary":25000},
     {"name":"Rahim", "Age":None, "salary":30000},
     {"name":"Karim", "Age":25, "salary":40000},
     {"name":"Hamidule", "Age":None, "salary":50000},
     {"name":"Jishan", "Age":28, "salary":None},
     {"name":"Tom", "Age":25, "salary":23000},
     {"name":"Jonh", "Age":30, "salary":12000},
     {"name":"Kim", "Age":32, "salary":None},
     {"name":"Jak", "Age":21, "salary":25000},
     {"name":"Sara", "Age":None, "salary":25000},
     {"name":"Carina", "Age":19, "salary":None}

]

In [ ]:
print("Original Data")
for row in data:
  print(row)

Original Data
{'name': 'Jahidule', 'Age': 25, 'salary': 25000}
{'name': 'Rahim', 'Age': None, 'salary': 30000}
{'name': 'Karim', 'Age': 25, 'salary': 40000}
{'name': 'Hamidule', 'Age': None, 'salary': 50000}
{'name': 'Jishan', 'Age': 28, 'salary': None}
{'name': 'Tom', 'Age': 25, 'salary': 23000}
{'name': 'Jonh', 'Age': 30, 'salary': 12000}
{'name': 'Kim', 'Age': 32, 'salary': None}
{'name': 'Jak', 'Age': 21, 'salary': 25000}
{'name': 'Sara', 'Age': None, 'salary': 25000}
{'name': 'Carina', 'Age': 19, 'salary': None}

In [ ]:
print("Detect Missing Value (None)")
for i, row in enumerate(data):
  for key, value in row.items():
    if value is None:
      print(f"Row {i+1}, column'{key}' value is None")

Detect Missing Value (None)
Row 2, column'Age' value is None
Row 4, column'Age' value is None
Row 5, column'salary' value is None
Row 8, column'salary' value is None
Row 10, column'Age' value is None
Row 11, column'salary' value is None

In [ ]:
cleaned_data=[]
for row in data:
  if None not in row.values():
    cleaned_data.append(row)
print("After Removig Row After Missing Value: ")
for row in cleaned_data:
    print(row)

After Removig Row After Missing Value:
{'name': 'Jahidule', 'Age': 25, 'salary': 25000}
{'name': 'Karim', 'Age': 25, 'salary': 40000}
{'name': 'Tom', 'Age': 25, 'salary': 23000}
{'name': 'Jonh', 'Age': 30, 'salary': 12000}
{'name': 'Jak', 'Age': 21, 'salary': 25000}

In [ ]:
ages = [row["Age"] for row in data if row["Age"] is not None]
salaries = [row["salary"] for row in data if row["salary"] is not None]

In [ ]:
mean_age = sum(ages) / len(ages)
mean_salary = sum(salaries) / len(salaries)

In [ ]:
for row in data:
    if row["Age"] is None:
        row["Age"] = round(mean_age, 1)
    if row["salary"] is None:
        row["salary"] = round(mean_salary, 1)

print("\nAfter Filling Missing Values with Mean:")
for row in data:
    print(row)

After Filling Missing Values with Mean:
{'name': 'Jahidule', 'Age': 25, 'salary': 25000}
{'name': 'Rahim', 'Age': 25.6, 'salary': 30000}
{'name': 'Karim', 'Age': 25, 'salary': 40000}
{'name': 'Hamidule', 'Age': 25.6, 'salary': 50000}
{'name': 'Jishan', 'Age': 28, 'salary': 28750.0}
{'name': 'Tom', 'Age': 25, 'salary': 23000}
{'name': 'Jonh', 'Age': 30, 'salary': 12000}
{'name': 'Kim', 'Age': 32, 'salary': 28750.0}
{'name': 'Jak', 'Age': 21, 'salary': 25000}
{'name': 'Sara', 'Age': 25.6, 'salary': 25000}
{'name': 'Carina', 'Age': 19, 'salary': 28750.0}

In [ ]:
filled_forward = []
prev_row = None

for row in data:
    new_row = row.copy()
    if prev_row:
        for key, value in new_row.items():
            if value is None:
                new_row[key] = prev_row[key]
    filled_forward.append(new_row)
    prev_row = new_row

print("\n After Forward Fill (Manual Implementation):")
for row in filled_forward:
    print(row)

 After Forward Fill (Manual Implementation):
{'name': 'Jahidule', 'Age': 25, 'salary': 25000}
{'name': 'Rahim', 'Age': 25.6, 'salary': 30000}
{'name': 'Karim', 'Age': 25, 'salary': 40000}
{'name': 'Hamidule', 'Age': 25.6, 'salary': 50000}
{'name': 'Jishan', 'Age': 28, 'salary': 28750.0}
{'name': 'Tom', 'Age': 25, 'salary': 23000}
{'name': 'Jonh', 'Age': 30, 'salary': 12000}
{'name': 'Kim', 'Age': 32, 'salary': 28750.0}
{'name': 'Jak', 'Age': 21, 'salary': 25000}
{'name': 'Sara', 'Age': 25.6, 'salary': 25000}
{'name': 'Carina', 'Age': 19, 'salary': 28750.0}